.example-card {
  max-width: 400px !important;
  min-width: 200px !important;
  margin:20px;
  float:left;
}

.example-header-image {
  background-image: url('https://picsum.photos/800');
  background-size: cover;
}

.card-image{
  max-width: 400px !important;
  min-width: 200px !important;
}

